@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --modal-top-margin: 20%;
}

body {
    background-color: #eee;
    font-family: 'Josefin Sans', sans-serif;
}
.interface-div {
    display: none;
    margin-top: 1rem;
    text-align: center;
}

.interface-div.show {
    display: block;
}


.score-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 900px;
    margin: 3rem auto 0;
    padding: 1rem;
    border-radius: .5rem;
    background-color: bisque;
}

.player {
    text-align: center;
    background-color: #14bdac;
    padding: 1rem 2rem;
    border-radius: .5rem;
    color: rgb(84, 84, 84);
    transition: border-bottom 300ms ease-in;
}

.player > h3 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 1rem;
}

.player > h4 {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 600;
    color: white;
}

.player.active {
    border-bottom: 5px solid chartreuse;
}


.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 120px));
    grid-template-rows: repeat(3, minmax(90px, 120px));
    gap: 3px;
    background-color: bisque;
    margin: 2rem auto 0;
    max-width: max-content;
    padding: .5rem;
    border-radius: 10px;
}

.cell {
    background-color: #14bdac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: 0;
}

.cell.winning {
    animation: highlight 1s infinite alternate;
}

@keyframes highlight {
    0% {
        background-color: #14bdac;
    }

    100% {
        background-color: red;
    }
}

.cell.p1 {
    color: rgb(84, 84, 84);
}

.cell.p2 {
    color: white;
}

.intro-box {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;
    opacity: 1;
    transition: opacity .5s ease-out;
}

.intro-box.hide {
    opacity: 0;
}

.intro-content {
    text-align: center;
    background-color: #eee;
    width: 70%;
    max-width: 800px;
    margin: 8% auto 0;
    padding: 2.5rem;
    border-radius: .5rem;
}

.intro-content > h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.intro-content button, .save-btn, .restart-game, .continue-game, .restart {
    font-family: inherit;
    font-size: .9rem;
    outline: none;
    cursor: pointer;
    padding: .75rem;
    background-color: bisque;
    border: 2px solid seagreen;
    border-radius: 5px;
}

.intro-content button:hover {
    background-color: antiquewhite;
}

.intro-content > .inner-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    max-width: 90%;
    margin: 2rem auto;
    transition: flex-direction .5s ease-in-out;
}

.intro-content > .inner-div.switch {
    flex-direction: row-reverse;
}


.intro-content > .inner-div > div {
    padding: 2.5rem;
    border: 2px solid seagreen;
    border-radius: .5rem;
}

.intro-content > .inner-div > .p1-div {
    background-color: grey;
    color: #eee;
}

.intro-content > .inner-div h4 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.intro-content > .inner-div span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.player-type > .active {
    background-color: #14bdac;
    color: white;
}

.player-type > .active:hover {
    background-color: #14bdac;
}

.change-name {
    display: block;
    width: max-content;
    margin: 1.5rem auto 0;
    color: seagreen;
}

.change-name:hover {
    color: grey;
}

.modal-box {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: left 1s, opacity .5s;
}

.modal-box.open {
    left: 0;
    opacity: 1;
}

.modal-box > .text-box {
    padding: 3rem;
    margin: 15% auto 0;
    background-color: #eee;
    width: 60%;
    border-radius: 20px;
}

.modal-text {
    text-align: center;
    font-size: 2rem;
}

.continue-game {
    display: block;
    margin: 1.5rem auto 0;
}

.update-name-modal {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    opacity: 0;
    transition: opacity 1s ease-in-out, left 1s ease-in-out;
}

.update-name-modal.show {
    left: 0;
    opacity: 1;
}

.update-name-modal > form {
    width: 70%;
    max-width: 400px;
    margin: 20% auto 0;
    padding: 1.5rem 3rem;
    background-color: #eee;
    border-radius: .5rem;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input > label {
    font-size: 1.25rem;
    margin-top: 1.5rem;
}

.form-input > input[type='text'] {
    margin: 1rem 0;
    padding: .375rem .75rem;
    font-family: inherit;
    font-size: 1rem;
    height: 2.375rem;
    border: 1px solid seagreen;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input > input[type='text']:focus {
    border-color: green;
    outline: none;
    box-shadow: 0 0 0 0.1rem seagreen;
}

.save-btn {
    display: block;
    font-size: 1rem;
    padding: .5rem .75rem;
    width: 30%;
    margin: .5rem 0;
    border-width: 1px;
}

.display-none {
    display: none;
}


.game-winner-box {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100%;
    opacity: 0;
    transition: left 1s, opacity .5s;
}

.game-winner-box.open {
    left: 0;
    opacity: 1;
}
.game-winner-box > .content {
    text-align: center;
    background-color: #eee;
    padding: 3rem 2rem;
    border-radius: .5rem;
    width: 70%;
    max-width: 400px;
    margin: var(--modal-top-margin) auto 0;
}

.winner-h3 {
    font-size: 1.5rem;
}

.restart-game {
    margin-top: 1.5rem;
}


@media (max-width: 426px) {
    .container {
        max-width: 90%;
        margin: 1.5rem auto 0;
    }

    .intro-content {
        width: 90%;
        max-width: none;
        padding: 2.0rem 1.5rem;
        margin: 2.5rem auto 1rem;
    }

    .intro-content button, .save-btn, .restart-game, .continue-game {
        font-size: 1rem;
    }

    .modal-box > .text-box {
        padding: 1.75rem;
        margin: 50% auto 0;
        width: 80%;
    }

    .intro-content > .inner-div {
        flex-direction: column;
        gap: 1.25rem;
    }

    .intro-content > .inner-div.switch {
        flex-direction: column-reverse;
    }

    .intro-content > .inner-div > div {
        width: 100%;
    }

    .modal-text {
        font-size: 1.5rem;
    }

    .update-name-modal > form {
        width: 85%;
        max-width: none;
    }

    .score-box {
        width: 90%;
        max-width: none;
        padding: .5rem;
    }

    .player-type {
        display: flex;
        gap: 3px;
        align-items: center;
        justify-content: center;
    }

    .player {
        padding: 1rem;
    }

    .player > h3 {
        font-size: 1.25rem;
    }

    .game-winner-box > .content {
        width: 90%;
        max-width: none;
        padding: 1.5rem 1rem;
    }

    .winner-h3 {
        font-size: 1.25rem;
    }
}